@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Eudoxus Sans", sans-serif;
  scroll-behavior: smooth;
}

body{
  background-color: white;
}

[data-theme="dark"] body{
  --tw-bg-opacity: 1;
  background-color: rgb(26 35 46 / var(--tw-bg-opacity));
}

.gradient-01 {
  background-image: linear-gradient(
    270deg,
    hsl(27, 76%, 51%) 0%,
    hsl(25, 70%, 73%) 26%,
    hsl(48, 69%, 86%) 39%,
    hsl(202deg 92% 90%) 50%,
    hsl(215deg 77% 81%) 61%,
    hsl(221deg 73% 70%) 74%,
    hsl(220deg 76% 51%) 100%
  );
  filter: blur(125px);
}

.hero-gradient {
  background: linear-gradient(
    97.86deg,
    #1C2530 0%,
    #2a394b 53.65%,
    #334963 100%
  );
}

.gradient-02 {
  position: absolute;
  width: 200px;
  height: 438px;
  top: 0px;
  right: 0px;

  background: #7aebfb;
  filter: blur(190px);
}

.glassmorphism {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.gradient-03 {
  position: absolute;
  width: 404px;
  height: 800px;
  left: 20%;
  top: 5%;

  background: rgba(255, 146, 29, 0.489);
  filter: blur(175px);
  transform: rotate(-114.2deg);
}

.gradient-map01 {
  width: 122px;
  height: 122px;
  right: 20px;
  bottom: 20px;
  background: rgba(255, 146, 29, 0.489);
  filter: blur(175px);
}


.gradient-04 {
  position: absolute;
  width: 304px;
  height: 100vh;
  left: 30%;
  top: 10%;

  background: rgba(45, 72, 152, 0.75);
  filter: blur(200px);
  transform: rotate(-53.13deg);
}

.gradient-05 {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.04) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

.feedback-gradient {
  position: absolute;
  width: 200px;
  height: 316px;
  left: 0px;
  top: 0px;

  background: #f18f1e;
  filter: blur(175px);
}

.footer-gradient {
  position: absolute;
  width: 500px;
  height: 100px;
  left: 37%;
  bottom: 0;

  background: #65c4fa;
  filter: blur(150px);
}

.shadow-xl-up {
  box-shadow: 0 -6px 10px -5px rgba(0, 0, 0, 0.3), 0 6px 10px -5px rgba(0, 0, 0, 0.3);
}

.shadow-xl-sides {
  box-shadow: -6px 0 20px -5px rgba(0, 0, 0, 0.3), 6px 0 20px -5px rgba(0, 0, 0, 0.3);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-block: 15px;
  z-index: 4;
  transition: 0.25s ease;
}

.header.active { background-color: hsl(202, 75%, 47%); }

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.navbar {
  position: fixed;
  top: 0;
  left: -300px;
  max-width: 300px;
  width: 100%;
  height: 100%;
  background-color: white;
  box-shadow: 2px 0 50px hsla(0, 0%, 0%, 0.2);
  z-index: 20;
  visibility: hidden;
  transition: 0.25s cubic-bezier(0.51, 0.03, 0.64, 0.28);
}

.navbar.active {
  visibility: visible;
  transform: translateX(300px);
  transition: 0.5s cubic-bezier(0.33, 0.85, 0.4, 0.96);
}

.navbar-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-block-end: 1px solid hsl(0, 0%, 91%);
  padding: 30px 20px;
}